.article-block {
  float: left;
  min-width: 10em;
  width: 32%;
  height: 20em;
  margin: 0.5em;
  padding: 1em;
  background: linear-gradient(#E12892, transparent);
  color: $white;
  .post-date {
    float: right;
  }
  .category,
  .post-date{
    margin: 0;
    font-size: 0.9em;
  }
  h1 {
    margin: 0 0 0.5em 0;
    line-height: 1;
    font-size: 1.75em;
  }
  img {
    max-width: none;
    z-index: -10;
  }
  &.block-small {
    width: 25%;
  }
  &.block-medium {
    width: 32%;
  }
  &.block-large {
    width: 48%;
  }
}
