.category-blue {
  background: linear-gradient($blue, transparent);
}
.category-pink {
  background: linear-gradient($pink, transparent);
}
.category-red {
  background: linear-gradient($red, transparent);
}
.category-yellow {
  background: linear-gradient($yellow, transparent);
}
.category-green {
  background: linear-gradient($green, transparent);
}
.category-purple {
  background: linear-gradient($purple, transparent);
}
