.page-header {
  @extend .clearfix;
  position: relative;
  margin-bottom: 4em;

  .header-logo {
    width: 40%;
    float: left;
    margin: 0;
    font-size: 1.8rem;
    weight: bolder;
    line-height: 1;
    .logo-sdo {
      color: $color-header-sdo;
    }
  }
  .header-nav {
    width: 55%;
    float: right;
  }
  a {
    text-decoration: none;
  }
}
